<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>The Silent Cartographer</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/static/maps/css/dashboard.css" rel="stylesheet">
    <link href="/static/maps/css/custom.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">The Silent Cartographer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
          </ul>
          <!--form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form-->
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Add Map</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Add map
            <ul class="pagination pagination-sm" style="margin:5px;float:right">
              <li id="page-phase-1" class="active"><a href="#">Select Building</a></li>
              <li id="page-phase-2" class="disabled"><a href="#">Select Floor</a></li>
              <li id="page-phase-3" class="disabled"><a href="#">Mark Clusters</a></li>
              <li id="page-phase-4" class="disabled"><a href="#">Mark Paths</a></li>
              <li id="page-phase-5" class="disabled"><a href="#">Done</a></li>
            </ul>
          </h1>

          <div id="phase-1">
                    <h2 class="sub-header">1. Select Building</h2>
                    <div class="row placeholders">
                      <div class="col-xs-6 col-sm-3 placeholder">
                      <a href="#" onclick="switchSelect(1,2)">
                        <img src="/static/maps/img/share-logo.png" class="img-responsive" alt="Generic placeholder thumbnail">
                        <h4>inmobi</h4>
                        <span class="text-muted">description</span>
                      </a>
                      </div>
                      <div class="col-xs-6 col-sm-3 placeholder">
                        <div class="div-round">
                          +
                        </div>
                        <h4>Add New</h4>
                        <span class="text-muted">click to add a new building</span>
                      </div>
                    </div>
          </div>
          <div id="phase-2">
                    <h2 class="sub-header">2. Select Floor</h2>
                    <div class=" panel panel-default table-responsive">
                      <div class="panel-heading">Floors in Inmobi
                        <a href="#" onclick="addFloor()">
                          <div class="nav pull-right"><span class="glyphicon glyphicon-plus"></span> Add new floor</div>
                        </a>
                      </div>
                      <div class="panel-body">
                        <div id="phase-2-show">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Floor</th>
                                <th>#Clusters</th>
                                <th>#Paths</th>
                              </tr>
                            </thead>
                            <tbody id="floorList">
                            </tbody>
                          </table>
                        </div>
                        <div id="phase-2-add">
                          <h2 class="sub-header">Add a new Floor</h2>
                          <form class="navbar-form navbar-left" id="file-form" enctype="multipart/form-data" method="POST" action="" role="search">
                            <div class="form-group">
                              <input type="text" class="form-control" id="floorNum" placeholder="Floor Number/Name">
                              <input type="file" id="floorplan" class="form-control" placeholder="Floor-plan">
                            </div>
                            <button type="submit" class="btn btn-primary" id="upload-button">Proceed</button>
                            <button type="reset" class="btn btn-default" onclick="showFloor()">Cancel</button>
                          </form>
                        </div>
                      </div>
                    </div>
          </div>
          <div id="phase-3">
                    <h2 class="sub-header">3. Mark Clusters 
                      <button class="btn btn-primary pull-right" onclick="switchSelect(3,4)">Proceed</button>
                    </h2>
                    <div id="popup-form" style="display:none">
                      <form class="navbar-form" role="search">
                        <div class="form-group">
                          <input type="text" id="clusterName" class="form-control" placeholder="Cluster Name">
                          <select id="clusterType" class="form-control">
                            <option value="bay">Bay</option>
                            <option value="meeting-room">Meeting Room</option>
                            <option value="lift">Lift</option>
                            <option value="stairs">Stairs</option>
                            <option value="recArea">Recreation Area</option>
                          </select>
                          <input type="text" id="clusterTags" class="form-control" placeholder="Tags">
                        </div>
                        <button type="submit" class="btn btn-primary" onclick="addCluster()">Add</button>
                      </form>
                    </div>
          </div>

          <div id="phase-4">
                    <h2 class="sub-header">4. Mark Paths 
                      <button class="btn btn-primary pull-right" onclick="switchSelect(4,5)">Proceed</button>
                    </h2>
          </div>
          <div id="phase-5">
                    <h2 class="sub-header">5. Finalize 
                      <button class="btn btn-primary pull-right" onclick="finalize()">Push data to Server</button>
                    </h2>
                    <div class="row">
                      <div class="col-lg-2">Map </div>
                      <div class="col-lg-10" id="mapname">MapName [MapID] </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-2">Floor </div>
                      <div class="col-lg-10" id="floorname">FloorName </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-2">Clusters Added </div>
                      <div class="col-lg-10" id="clustercount">clustercount </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-2">Paths Added </div>
                      <div class="col-lg-10" id="pathcount">pathCount </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-2">Floor Plan </div>
                      <div class="col-lg-10">
                        <img id="floorimg" src="http://www.html5canvastutorials.com/demos/assets/darth-vader.jpg" width=100%>
                      </div>
                    </div>
          </div>
          <div id="canvas-div">
                    <div class="row" >
                      <div class="col-lg-12">
                        <canvas id="myCanvas" width="975" height="500" style="border:1px solid"></canvas>
                        <div id="popover"></div>
                      </div>
                    </div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/tooltip.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/popover.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js"></script>
    <script src="/static/maps/js/docs.min.js"></script>
    <script src="/static/maps/js/custom.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug 
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script-->>
  </body>
</html>
